<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.haipeng.scaffold.core">

    <application>
        <activity
            android:name=".activity.ButtonsActivity"
            android:exported="true" />
    </application>

</manifest>